@import '../helpers/variables/variables';

.about-me-text {
    text-align: left;
    text-indent: 20rem;
}

#me-img {
    float: right;
    background: $white;
    padding: 3rem;
    margin-left: 10rem;
}

@media (max-width: 325px) {
    #me-img {
        float: none;
        margin-bottom: 10rem;
    }
}
