@import '../helpers/variables/variables';
@import '../helpers/mixins/media-queries';

.about-me-text {
    text-align: left;
    text-indent: 20rem;
}

.about-me-img {
    float: right;
    padding: 3rem;
    margin-left: 10rem;
    width: 330rem;
    border-radius: $minor-border-radius;
}

@include sm-media-query() {
    .about-me-img {
        width: 300rem;
    }
}

@include xs-media-query() {
    .about-me-img {
        float: none;
        margin: 0 auto 10rem auto;
        width: 275rem;
    }
}