#banner-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $default-spacing;
}

#banner-container {
    margin-top: -25vh;
    padding: 40px;
}

#banner-header {
    font-weight: bold;
    font-size: 75rem;
    color: $white;
    text-shadow: 2px 2px black;
}

#banner-text, #banner-btn {
    font-size: 22rem;
    color: $white;
}

#banner-text {
    margin: 15px 0;
}

#banner-btn {
    text-decoration: none;
    font-size: 22rem;
    border: 1px solid $white;
    padding: $default-spacing;
    background: none;
    box-shadow: none;
    transition: all .5s ease-in-out;

    &:hover {
        background: $white;
        color: $black;
        @include transform($minor-scale);
        transition: all .5s ease-in-out;
    }
}

@media (max-width: $xs-breakpoint - 1px) {
    #banner-header {
        font-size: 45rem;
    }

    #banner-text, #banner-btn {
        font-size: 16rem;
    }
}

#banner-btn-container {
    display: inline-block;
    padding: $default-spacing;
    @include animation(minor-pulse 2s infinite);

    &:hover {
        @include animation(none);
    }
}

.banner-hide {
    opacity: 0;
}

.banner-appear {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
