#banner {
    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-container {
    margin-top: -25vh;
    padding: 20px;
    background: black;
    z-index: 1;
    box-shadow: 0 0 15px 10px #020202;
    opacity: .85;
}

#banner-header {
    font-weight: bold;
    font-size: 75rem;
    color: $white;
    text-shadow: 2px 2px black;
}

#banner-text, #banner-btn {
    font-size: 22rem;
    color: $white;
}

#banner-text {
    margin: 15px 0;
}

#banner-btn {
    text-decoration: none;
    font-size: 22rem;
    border: 1px solid $white;
    padding: $default-spacing;
    background: none;
    box-shadow: none;
    transition: all .5s ease-in-out;

    &:hover {
        background: $white;
        color: $black;
        @include transform($minor-scale);
        transition: all .5s ease-in-out;
    }
}

@media (max-width: $xs-breakpoint - 1px) {
    #banner-header {
        font-size: 45rem;
    }

    #banner-text, #banner-btn {
        font-size: $secondary-text-size;
    }
}

#banner-btn-container {
    display: inline-block;
    padding: $default-spacing;
}

.banner-hide {
    opacity: 0;
}

.banner-appear {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

canvas.banner-animation {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 0;
    background: black;
    margin-top: -25px; // I have no idea why this works
}