.blog-small-text {
    font-size: 16rem;
}

.blog-small-text-spacing {
    display: block;
    margin: 20px 0 -20px 0;
}

.left-align {
    display: block;
    text-align: left;
}

.blog-sidebar {
    list-style-type: none;
    margin: 20px 20px 0 50px;
    position: fixed;
    width: auto;
    top: calc(#{$blog-featured-image-height} + #{$navbar-height});
    z-index: -1;
    transition: all .5s ease-in;

    li {
        text-align: left;
        border-bottom: 2px solid $darker-white;
        margin-bottom: 20px;
    
        &:first-child {
            border-bottom: 2px solid $black;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    span {
        font-size: 18rem;
    }

    &.blog-sidebar-offset-top {
        top: $navbar-height;
        transition: $ease-in-transition;
    }
}

.blog-featured-image {
    height: $blog-featured-image-height;
}