.blog-date-size {
    font-size: 16rem;
}

.blog-post-date-spacing {
    display: block;
    margin: 20px 0 -20px;
}

.left-align {
    text-align: left;
}

.blog-sidebar {
    list-style-type: none;
    margin: 20px 20px 0 50px;
    position: fixed;
    width: auto;

    li {
        text-align: left;
    }

    span {
        font-size: 18rem;
    }
}