.btn-dropdown {
  font-size: 35rem;
  border: 0;
  background-color: transparent;
  @include animation(major-pulse 2s infinite);

  &:hover {
    @include animation(none);
    @include transform($major-scale);
  }

  &:focus {
    outline: 0;
  }
}

@-webkit-keyframes major-pulse {
  0% { @include transform(scale(1)); }
  50% { @include transform($major-scale); }
  100% { @include transform(scale(1)); }
}

@keyframes major-pulse {
  0% { @include transform(scale(1)); }
  50% { @include transform($major-scale); }
  100% { @include transform(scale(1)); }
}

@keyframes minor-pulse {
  0% { @include transform(scale(1)); }
  50% { @include transform($minor-scale); }
  100% { @include transform(scale(1)); }
}

@-webkit-keyframes minor-pulse {
  0% { @include transform(scale(1)); }
  50% { @include transform($minor-scale); }
  100% { @include transform(scale(1)); }
}
