@import '../helpers/variables/variables';
@import '../helpers/mixins/mixins';

.contact-container {
    padding: 20rem;
    width: 55%;

    .input-lg {
        margin-bottom: 15rem;
    }
    
    .form-control {
        font-size: $secondary-text-size;
    }

    #message {
        height: 200rem;
    }

    #validation-text, #success-text {
        max-height: 0;
        @include height-transition-initial();
        
        &.show-text {
            max-height: 100%;
            @include height-transition-open();
        }
    }
    
    #validation-text {
        font-size: 12rem;
        color: red;
    }

    #success-text {
        color: green;

        * {
            font-size: $secondary-text-size;
        }
    }

    label {
        @include label-text();
        float: left;
    }
}

@include lg-media-query() {
    .contact-container {
        width: 75%;
    }
}

@include md-media-query() {
    .contact-container {
        width: 80%;
    }
}

@include sm-media-query() {
    .contact-container {
        width: 90%;
    }
}

@include xs-media-query() {
    .contact-container {
        width: 100%;
    }
}