@import '../helpers/variables/_variables';

.contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $default-spacing; 

    hr {
        width: 100%;
    }

    > div {
        max-width: 300rem;
        margin: 0 auto;

        .contact-me-text-wrapper {
            padding: $default-spacing; 
            
            .contact-me-text {
                font-size: $medium-text-size;
            }
        }

        .contact-me-btn {
            background: linear-gradient(-45deg, #556e53, #0f4c75, #411e8f, #801336);
            background-size: 400% 400%;
            animation: gradient 7.5s ease infinite, $minor-pulse-animation;
            border: none;

            &:hover {
                animation-play-state: paused;
                border: none;

                &, span {
                    color: $white;
                }
            }

            &, span {
                font-size: 22rem;
            }
        }
    }
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}