@import '../helpers/variables/variables';
@import '../helpers/mixins';

.contact-container {
    padding: 20px;

    .input-lg {
        margin-bottom: 15px;
    }
    
    .form-control {
        font-size: $secondary-text-size;
    }

    #message {
        height: 200px;
    }

    #validation-text, #success-text {
        max-height: 0;
        @include height-transition-initial();
        
        &.show-text {
            max-height: 100%;
            @include height-transition-open();
        }
    }
    
    #validation-text {
        font-size: 12rem;
        color: red;
    }

    #success-text {
        color: green;

        * {
            font-size: $secondary-text-size;
        }
    }

    label {
        @include label-text();
        float: left;
    }
}


@media (min-width: $lg-breakpoint) {
    .contact-container {
        width: 55%;
    }
}

@media (max-width: $lg-breakpoint - 1) {
    .contact-container {
        width: 75%;
    }
}

@media (max-width: $md-breakpoint - 1) {
    .contact-container {
        width: 80%;
    }
}

@media (max-width: $sm-breakpoint - 1) {
    .contact-container {
        width: 90%;
    }
}

@media (max-width: $xs-breakpoint - 1) {
    .contact-container {
        width: 100%;
    }
}

.contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $default-spacing; 

    hr {
        width: 100%;
    }

    > div {
        max-width: 300px;
        margin: 0 auto;

        .contact-me-text-wrapper {
            padding: $default-spacing; 
            
            .contact-me-text {
                font-size: 20rem;
            }
        }

        .contact-me-btn {
            font-size: 22rem;
            
            span {
                font-size: 22rem;
            }
        }
    }
}