@import '../helpers/mixins/rem-pixel-fallback';

.dark-section {
    background: $black;
    background-image: $dark-gradient;
    @include rem(padding-bottom, 30);
    @include rem(margin-top, 20);
    color: $white;

    .-curved-border {
        @include rem(border, 1 solid $lighter-black);
        @include rem(box-shadow, 4 4 10 $darker-black);
    }

    .btn {
        background: $white;
        color: $black;
        @include rem(box-shadow, 2 2 5 $darker-black);

        a, span, svg {
            color: $black;
            fill: $black;
        }

        &:hover {
            @include rem(border, 1 solid $white);
            background: $black;
            color: $white;

            a, span, svg {
                color: $white;
                fill: $white;
            }
        }
    }

    .container-top-image {
        @include rem(border-bottom, 2 solid $lighter-black);
    }
}
