@import '../helpers/variables/text-size';
@import '../helpers/variables/variables';

.education-institution, .education-description {
    text-align: left;
}

.education-institution {
    margin-top: $default-spacing;
    margin-bottom: $default-spacing / 2;
    font-weight: bold;
    font-size: $medium-text-size;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    flex-wrap: wrap;
}

.education-description {
    margin-bottom: $default-spacing;
    font-size: initial;
}