footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $black !important;
    padding: 10px;
    padding-bottom: 0 !important;
    overflow: hidden;
    z-index: $footer-z-index;

    p {
        color: $white;
    }

    a {
        margin: 0 $spacing-between-elements;
    }
}
