footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $black !important;
    padding: $default-spacing $end-margin-spacing !important;
    z-index: $footer-z-index;

    &, .footer-icons {
        display: flex;
        align-items: center;
    }

    .footer-copyright {
        margin: 0;
        color: $white;
        font-size: $secondary-text-size;
        margin-right: $default-spacing;
    }

    .footer-icons {
        margin-left: auto;
    
        > .footer-icon {
            margin: $spacing-between-elements;
            margin-bottom: 0;
            border-radius: 50%;
        }
    }
}