.my-nav { //to avoid bootstrap naming conflicts
    position: fixed;
    background-color: $black;
    min-height: $navbar-height;
    top: 0;
    width: 100vw;
    z-index: $navbar-z-index;
    
    .nav-contents {
        list-style-type: none;
        padding: 0;
        margin: 0 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li > a {
            display: block;
            padding: $default-spacing 15px;
            line-height: 20px;
        }
        
        li a, li a span span {
            font-size: $secondary-text-size;
            font-family: 'Roboto', sans-serif;
            color: $white;
            text-decoration: none;
        }

        li a:hover {
            color: $darker-white;

            span span {
                color: $darker-white;
            }
        }

        .brand {
            margin-right: auto;
            display: flex;

            span, a { 
                font-size: 20rem;
                font-weight: bold;
                display: flex;
                align-items: center;
            }

            ul.brand-dropdown {
                position: absolute;
                background: $black;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform .5s ease-in-out;
                top: $navbar-height;
                border-radius: 0 0 4px 4px;

                span, a {
                    font-size: $secondary-text-size;
                    font-weight: normal;
                }

                &.open-dropdown {
                    transform: scaleY(1);
                }
            }                

            a {
                margin-bottom: 2px; //align brand border bottom with rest of navbar's border bottoms
            }

            .logo {
                &:before {
                    display: inline-block;
                    content: ' ';
                    background: url('../assets/svg/logo.svg') no-repeat;
                    width: 25px;
                    height: 25px;
                    background-size: 25px 25px;
                    transition: all 3s ease-out;
                    margin-right: $default-spacing;
                }

                &:hover:before {
                    animation: rotate360 1s infinite;
                }
            }

            .brand-dropdown-btn {
                box-shadow: none;
                background: transparent;
                border: none;
                
                display: flex;
                color: $white !important;

                &:hover {
                    color: $darker-white !important;
                }

                &:focus {
                    outline: none;
                }
            }
            
            .on-click-outside {
                display: flex;
            }
        }
    }

    .toggle {
        box-shadow: none;

        float: right;
        margin: 8px $navbar-right-alignment 8px 0;
        border: #333 1px solid;
        
        &:focus {
            outline: none;
        }
    }

    .active {
        border-bottom: 2px solid $white;
    }
}

@media (max-width: $sm-breakpoint - 1px) {
    .my-nav {
        .nav-contents {
            margin: 0;
            width: 100vw;
            
            border-top: 1px solid $darker-white;
            display: flex;
            flex-direction: column;
            top: $navbar-height;
            max-height: 0;
            transform: scaleY(0);
            transform-origin: top;
            background: $black;
            transition: all 0.5s ease-in-out;

            li:first-child, li:last-child {
                margin: 0;
            }

            &.open-navbar {
                max-height: calc(100vh - #{$navbar-height});
                transform: scaleY(1);
            }

            .brand-dropdown {
                background: $white !important;
                
                li a , li span {
                    color: $black;
                }
            }
        }
    }
}