@import '../helpers/variables';
@import '../helpers/mixins';

$navbar-item-border-bottom-height: 2px;
$logo-location: '../../assets/svg/logo.svg'; //relative to navbar component

.my-nav { //to avoid bootstrap naming conflicts
    position: fixed;
    background-color: $black;
    min-height: $navbar-height;
    top: 0;
    width: 100vw;
    z-index: $navbar-z-index;
    
    .nav-contents {
        list-style-type: none;
        padding: 0 $end-margin-spacing;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li a {
            display: block;
            padding: $default-spacing 15px;
            line-height: 20px;
            position: relative;

            &, > span {
                font-size: $secondary-text-size;
                font-family: 'Roboto', sans-serif;
                color: $white;
                text-decoration: none;
            }

            span {
                transition: color 0.5s ease-in-out;
            }
            
            &:after {
                content: ' ';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: -1px;
                display: block;
                z-index: -1;

                border-bottom: $navbar-item-border-bottom-height $darker-white solid;
                transform: scaleX(0);
                transition: transform 0.5s ease-in-out;
            }

            &:hover {
                color: $darker-white;

                span {
                    color: $darker-white;
                }

                &:not(.active):after {
                    transform: scaleX(1);
                }
            }
        }
        
        .brand {
            margin-right: auto;
            display: flex;

            span, a { 
                font-size: 20rem;
                font-weight: bold;
                display: flex;
                align-items: center;
            }

            ul.brand-dropdown {
                position: absolute;
                z-index: $navbar-sub-menu-z-index;
                background: $black;
                top: $navbar-height;
                border-radius: 0 0 $minor-border-radius $minor-border-radius;
                @include height-transition-initial();

                span, a {
                    font-size: $secondary-text-size;
                    font-weight: normal;
                }

                li a:after {
                    left: $default-spacing;
                    right: $default-spacing;
                }

                &.open-dropdown {
                    @include height-transition-open();
                }
            }                

            a {
                margin-bottom: 2px; //align brand border bottom with rest of navbar's border bottoms
            }

            &:hover .logo:before {
                animation: rotate360 1s infinite;
            }

            .logo {
                &:before {
                    display: inline-block;
                    content: ' ';
                    background: url($logo-location) no-repeat;
                    width: 25px;
                    height: 25px;
                    background-size: 25px 25px;
                    margin-right: $default-spacing;
                }

                .animate-letter {
                    animation: bulge $letter-animation-duration 1;
                    color: $white;
                }
            }

            .brand-dropdown-btn {
                box-shadow: none;
                background: transparent;
                border: none;
                
                display: flex;
                color: $white !important;

                &:hover {
                    color: $darker-white !important;
                }

                &:focus {
                    outline: none;
                }
            }
            
            .on-click-outside {
                display: flex;
            }
        }
    }

    .toggle {
        box-shadow: none;

        float: right;
        margin: 8px $navbar-right-alignment 8px 0;
        border: #333 1px solid;
        
        &:focus {
            outline: none;
        }
    }

    .active {
        border-bottom: $navbar-item-border-bottom-height solid $white;
    }
}

@media (max-width: $sm-breakpoint - 1px) {
    .my-nav {
        .nav-contents {
            @include responsive-nav-menu();

            margin: 0;
            
            border-top: 1px solid $darker-white;
            display: flex;
            flex-direction: column;
            background: $black;

            &.open {
                @include responsive-nav-menu-open();
            }

            li:first-child, li:last-child {
                margin: 0;
            }

            .brand-dropdown {
                background: $white !important;

                li a {
                    &, span {
                        color: $black;
                    }

                    &:hover {
                        &, span {
                            color: $lighter-black;
                        }
                    }
                }

                li a:after {
                    border-bottom: $navbar-item-border-bottom-height $lighter-black solid;
                }
            }
        }
    }
}

@keyframes bulge { 50% { transform: scale(1.5) } }