.project-container {
    max-height: 100%;

    p, span, a {
        font-size: $secondary-text-size;
    }
}

.language-tag {
    margin: 0;
    padding: 0;

    li {
        margin: $spacing-between-elements;
        display: inline-block;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid $darker-white;
        font-size: 12rem;
    }
}
