@import '../helpers/variables/variables';
@import '../helpers/mixins/rem-pixel-fallback';

.project-container {
    max-height: 100%;

    p, span, a {
        @include rem(font-size, $secondary-text-size);
    }
}

.language-tag {
    margin: 0;
    padding: 0;

    li {
        @include rem(margin, $spacing-between-elements);
        display: inline-block;
        @include rem(padding, 4);
        @include rem(border-radius, $minor-border-radius);
        @include rem(border, 1 solid $darker-white);
        @include rem(font-size, 12);
    }
}
