.skill-section-title {
    font-size: 20rem;
    font-weight: bold;
}

.skill-section-list {
    margin: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    
    .item {
        list-style: none;
        padding: 5px;
        font-size: 18rem;

        &:before {
            content: "⁍ ";
        }
    }  
}