@import '../helpers/mixins/rem-pixel-fallback.scss';

.skill-section-title {
    @include rem(font-size, 20);
    font-weight: bold;
}

.skill-section-list {
    margin: 0;
    @include rem(padding-left, 10);
    @include rem(margin-bottom, 20);
    
    .item {
        list-style: none;
        @include rem(padding, 5);
        @include rem(font-size, 18);

        &:before {
            content: "⁍ ";
        }
    }  
}