@import "../helpers/variables/colors";
@import "../helpers/variables/breakpoints";
@import "../helpers/variables/text-size";
@import "../helpers/functions";

$timeline-color: $black;
$content-timeline-spacing: 30px;
$timeline-dot-size: 20px;
$triangle-size: 10px;
$timeline-triangle-color: $triangle-size solid white;
$triangle-shadow-offset: 3px;
$dot-triangle-offset: 18px;
$right-arrow-position: 19px;
$left-arrow-position: 10px;
$triangle-box-shadow: get-layered-box-shadow(1);
$work-card-spacing-between: 50px;

.timeline {
    position: relative;
    padding: $work-card-spacing-between 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        height: 100%;
        width: 4px;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            $timeline-color 8%,
            $timeline-color 92%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .content-container {
        position: relative;
        max-width: 35%;
        margin-left: 15%;
        margin-bottom: $work-card-spacing-between;

        &:last-child {
            margin-bottom: 0;
        }

        &:before { // timeline dot
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 3px solid $timeline-color;
            background-color: $white;
            height: $timeline-dot-size;
            width: $timeline-dot-size;
            top: $dot-triangle-offset;
        }

        &:nth-child(odd) {
            padding-right: $content-timeline-spacing;

            &:before {
                left: calc(100% - #{$left-arrow-position});
            }

            .content {
                &:before {
                    right: 11px;
                    border-left: $timeline-triangle-color;
                }

                &:after {
                    right: $right-arrow-position + $triangle-shadow-offset + 3px;
                    transform: rotate(-135deg);
                }
            }
        }

        &:nth-child(even) {
            margin-left: calc(50% + #{$content-timeline-spacing});

            &:before {
                left: -(($timeline-dot-size / 2) + $content-timeline-spacing);
            }

            .content {
                &:before {
                    left: -$right-arrow-position;
                    border-right: $timeline-triangle-color;
                }

                &:after {
                    right: calc(100% - #{$left-arrow-position} + 1px);
                    transform: rotate(45deg);
                }
            }
        }

        .content {
            padding: 20px 10px;

            h2,
            div {
                text-align: left;
                padding: 0;
            }

            h2 {
                display: flex;
                align-items: center;
                font-size: $medium-text-size;
                flex-wrap: wrap;
            }

            .company {
                font-weight: normal;
                font-size: $secondary-text-size;
            }

            &:before { // arrow
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: $dot-triangle-offset;
                border: $triangle-size solid transparent;
                z-index: 9990;
            }

            &:after { // arrow shadow
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: $dot-triangle-offset + $triangle-shadow-offset;
                border: $triangle-size - $triangle-shadow-offset solid transparent;
                z-index: -1;
                box-shadow: $triangle-box-shadow;
            }
        }
    }
}

@media (max-width: $lg-breakpoint - 1) {
    .timeline {
        .content-container {
            max-width: 50%;
            margin-left: 0;
        }
    }
}

@media (max-width: $xs-breakpoint - 1) {
    .timeline {
        &:before {
            left: 0;
            transform: none;
        }

        .content-container {
            max-width: 100%;

            &:nth-child(odd),
            &:nth-child(even) {
                margin-left: $content-timeline-spacing;
                padding: 0;

                &:before {
                    left: -38px;
                }

                .content {
                    &:before {
                        left: -20px;

                        border: $triangle-size solid transparent;
                        border-right: $timeline-triangle-color;
                    }

                    &:after {
                        right: calc(100% - #{$left-arrow-position});
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
