@import './mixins/mixins';

@keyframes rotate360 {
    from { transform: rotate(0deg) } 
    to { transform: rotate(360deg) } 
}

@keyframes minor-pulse {
    0% { @include transform(scale(1)); }
    50% { @include transform(scale(1.05)); }
    100% { @include transform(scale(1)); }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 $white;
        opacity: 0;
    }

    30% {
        box-shadow: 0 0 0 4.5rem $white;
        opacity: 0.2;        
    }

    50% {
        box-shadow: 0 0 0 5rem $white;
        opacity: 0.4;        
    }

    70% {
        box-shadow: 0 0 0 4.5rem $white;
        opacity: 0.2;        
    }

    100% {
        box-shadow: 0 0 0 0 $white;
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10rem); }
    60% { transform: translateY(-5rem); }
}