@function get-layered-box-shadow($x-offset) {
    $box-shadows: '';
    $current: 1;
    
    @for $i from 1 through 6 {
        $x-offset-actual:  unquote('-' + ($current * $x-offset) + 'px');
        $y-offset--blur-radius: unquote($current + 'px');
        $shadow: $x-offset-actual $y-offset--blur-radius $y-offset--blur-radius rgba(0,0,0,0.11);
        $box-shadows: $box-shadows + $shadow + ' ,';

        $current: $current * 2;
    }

    @return str_slice(unquote($box-shadows), 0, str_length($box-shadows) - 1);
}