$white: #f2f2f2; //white color typically used for typography and borders
$darker-white: #D3D3D3; //Slightly darker than $white used for borders where appropriate
$black: #222; //Black color used for navbar, footer, and more
$darker-black: #111; //Slightly darker than $black
$lighter-black: #444; //Used for dark section borders

$minor-scale: scale(1.02);
$major-scale: scale(1.2);

$hide-transition: all .5s ease-in-out;
$unhide-transition: opacity 1s ease-in-out;
$ease-in-transition: all .5s ease-in;
$minor-scale-transition: transform .2s ease-in-out;

$dark-gradient: linear-gradient(to bottom right, $darker-black, #333, $darker-black);

$secondary-text-size: 16rem;

$navbar-height: 50px;
$footer-height: 50px;
$footer-xs-height: 64px;
$footer-xs-breakpoint: 385px;

$xs-breakpoint: 480px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;

$spacing-between-elements: 2px;
$blog-featured-image-height: 40vh;

$default-spacing: 10px;

$navbar-right-alignment: 15px;

$preloader-z-index: 9999;
$blog-menu-btn-z-index: 9998;
$navbar-z-index: 9997;
$footer-z-index: 9997;
$blog-menu-sm-z-index: 100;
$blog-featured-image-z-index: 10;
$blog-menu-z-index: 9;
$blog-menu-highlight-z-index: -1;


:export {
    FEATURED_IMG_VIEWPORT_HEIGHT: $blog-featured-image-height;
    NAVBAR_HEIGHT: $navbar-height;
    MAX_FOOTER_HEIGHT: $footer-xs-height;
}