@import '../../helpers/variables/variables';

#banner {
    height: calc(100vh - #{$navbar-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-container {
    margin-top: -25vh;
    padding: 20px;
    background: black;
    z-index: 1;
    box-shadow: 0 0 15px 10px #020202;
    opacity: .85;
}

#banner-header {
    font-weight: bold;
    font-size: 75rem;
    color: $white;
    text-shadow: 2px 2px black;
}

#banner-text, #banner-btn {
    font-size: 22rem;
    color: $white;
}

#banner-text {
    margin: 15px 0;
}

#banner-btn {
    text-decoration: none;
    font-size: 22rem;
    border: 1px solid $white;
    padding: $default-spacing;
    background: none;
    transition: all .5s ease-in-out;
    position: relative;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        animation: shadow-pulse $minor-pulse-animation-duration ease-in-out infinite;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
    }

    &:hover {
        background: $white;
        color: $black;
        transform: $minor-scale;
        transition: all .5s ease-in-out;
        
        &:before {
            animation-play-state: paused;
        }
    }
}

@media (max-width: $xs-breakpoint - 1px) {
    #banner-header {
        font-size: 45rem;
    }

    #banner-text, #banner-btn {
        font-size: $secondary-text-size;
    }
}

#banner-btn-container {
    display: inline-block;
    padding: $default-spacing;
}

.banner-hide {
    opacity: 0;
}

.banner-appear {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.bounce {
    animation: bounce $minor-pulse-animation-duration infinite ease-in-out;
}