@import '../../helpers/variables/variables';
@import '../../helpers/mixins/custom-title';

$caret-color: $white;

.item-cycle-base {
    &[data-cycle-title] {
        @include custom-title(data-cycle-title);
        
        &:after {
            display: none;
        }
        
        &:before {
            text-align: left;
            width: 0;
            transition: 
                width 0s 0.5s, 
                $custom-title-base-transition-in;
        }

        &:hover:before {
            width: 275rem;
            transition: 
                width 0s 0s, 
                $custom-title-base-transition-out;
        }

        @media (max-width: $sm-breakpoint) {
            &:hover:before {
                width: 200rem;
            }
        }

        @media (max-width: $xs-breakpoint) {
            &:hover:before {
                width: 150rem;
            }
        }
    }

    span {
        text-decoration: underline;

        &:after {
            content: '';
            height: 100%;
            width: 100%;
            border-right: 0.15em solid $caret-color;
            animation: blink-caret 0.75s step-end infinite;
        }
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: $caret-color; }
}