@import '../../../helpers/variables/breakpoints';
@import '../../../helpers/mixins/media-queries';

.adjacent-navigation-container {
    margin-top: 50rem;
    display: flex;
    justify-content: space-between;

    .adjacent-navigation {
        display: flex;
    }

    .previous, .next {
        &:hover, &:focus {
            text-decoration: none;
            
            .adjacent-navigation {
                text-decoration: underline;
            }
        }
    }

    .previous {
        p, div {
            text-align: right;
        }
    }

    .next {
        p, div {
            text-align: left;
        }
    }

    a:first-child {
        margin-right: 50rem;
    }
}

@include xs-media-query() {
    .adjacent-navigation-container {
        flex-direction: column;

        a:first-child {
            margin-right: 0;
        }

        a:last-child {
            margin-top: 20rem;
        }

        .previous .adjacent-navigation {
            justify-content: flex-end;
        }
    }
}