@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/rem-pixel-fallback';

.blog-header-icons div {
    text-align: left;
    
    &:last-child {
        @include rem(margin-bottom, -20);
    }
}

.blog-post-title {
    @include rem(font-size, 36);
    font-weight: bold;
}

.blog-featured-image {
    @include rem(height, $blog-featured-image-height);
    z-index: $blog-featured-image-z-index;
}

.blog-post-content {
    @include rem(margin-top, -30);
    @include rem(padding, 25);
    
    background: white;
    @include rem(border-radius, $minor-border-radius);
    z-index: $blog-post-content-z-index;
}

@media (max-width: $xs-breakpoint - 1px) {
    .blog-post-content {
        margin-top: 0;
        box-shadow: none;
        padding: 0;
    }
    
    .blog-header-icons {
        @include rem(margin-top, 20);
    }
}