@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins';

$extra-blog-menu-space-to-remove: 40px;

.blog-menu {
    z-index: $blog-menu-z-index;
    margin: 20px 20px 0 20px;
    position: fixed;
    width: auto;
    top: calc(#{$blog-featured-image-height} + #{$navbar-height});
    transition: all 0.5s ease-in;
    background: white;
    max-width: 25%;
    max-height: calc(100vh - #{$blog-featured-image-height} - #{$navbar-height} - #{$extra-blog-menu-space-to-remove});
    overflow-y: auto;

    h1 {
        padding: 0;
        padding-bottom: $default-spacing;
        margin-bottom: 15px;
        border-bottom: 2px solid $darker-white;
        font-size: $medium-text-size;
        text-align: left;
    }

    ul {
        padding-inline-start: 0;
        margin: 0;
        padding-left: 10px;
    
        li {
            text-align: left;
            padding-top: $default-spacing;
            padding-left: 1em;
            text-indent: -1em;
            list-style-type: none;
    
            a {
                display: inline-block;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                text-align: left;
                padding: 10px;
                margin-top: -20px;
                padding-left: 20px;
            }
            
            span, a {
                font-size: $secondary-text-size;
            }
    
            p {
                margin-bottom: 0;
            }

            a:before {
                position: absolute;
                left: 0;
                width: 100%;
                padding: $default-spacing;
                margin-top: -$default-spacing;
                opacity: 0;
            }    
            
            a:hover:before {
                content: "\00a0\00a0\00a0\00a0 ";
                background: $white;
                z-index: $blog-menu-highlight-z-index;
                opacity: 1;
                border-left: $darker-white 4px solid;
            }
        }
    }

    &.offset-by-featured-image {
        top: $navbar-height;
        transition: $ease-in-transition;
        max-height: calc(100vh - #{$navbar-height} - #{$footer-height} - #{$extra-blog-menu-space-to-remove});
    }
}

.blog-menu-btn {
    position: fixed;
    right: $navbar-right-alignment;
    bottom: $navbar-right-alignment;
    border: $lighter-black solid 2px;
    z-index: $blog-menu-btn-z-index;

    &.footer-in-view {
        bottom: $navbar-right-alignment + $footer-height;
    }
}

@media (max-width: $md-breakpoint - 1px) {
    .blog-menu {
        @include responsive-nav-menu();

        position: none;
        margin: 0;
        border: none;
        border-radius: 0;
        max-width: 100%;
        z-index: $blog-menu-sm-z-index;

        padding-top: 20px;
        
        &.open {
            @include responsive-nav-menu-open();
        }

        h1 {
            padding-top: 20px;
        }
    }
}

@media (max-width: $footer-xs-breakpoint - 1px) {
    .blog-menu-btn {
        &.footer-in-view {
            bottom: $navbar-right-alignment + $footer-xs-height;
        }
    }
}