@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/mixins';

$extra-blog-menu-space-to-remove: 40rem;

.blog-menu {
    z-index: $blog-menu-z-index;
    @include rem(margin, 20 20 0 20);
    position: fixed;
    width: auto;
    top: calc(#{$blog-featured-image-height} + #{$navbar-height});
    transition: all 0.5s ease-in;
    background: white;
    max-height: calc(100vh - #{$blog-featured-image-height} - #{$navbar-height} - #{$extra-blog-menu-space-to-remove});
    overflow-y: auto;

    h1 {
        padding: 0;
        @include rem(padding-bottom, $default-spacing);
        @include rem(margin-bottom, 15);
        @include rem(border-bottom, 2 solid $darker-white);
        @include rem(font-size, $medium-text-size);
        text-align: left;
    }

    ul {
        padding-inline-start: 0;
        margin: 0;
        @include rem(padding-left, 10);
    
        li {
            text-align: left;
            @include rem(padding-top, $default-spacing);
            padding-left: 1em;
            text-indent: -1em;
            list-style-type: none;
    
            a {
                display: inline-block;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                text-align: left;
                @include rem(padding, 10);
                @include rem(margin-top, -20);
                @include rem(padding-left, 20);
            }
            
            span, a {
                @include rem(font-size, $secondary-text-size);
            }
    
            p {
                margin-bottom: 0;
            }

            a:before {
                position: absolute;
                left: 0;
                width: 100%;
                @include rem(padding, $default-spacing);
                @include rem(margin-top, -$default-spacing);
                opacity: 0;
            }    
            
            a:hover:before {
                content: "\00a0\00a0\00a0\00a0 ";
                background: $white;
                z-index: $blog-menu-highlight-z-index;
                opacity: 1;
                @include rem(border-left, $darker-white 4 solid);
            }
        }
    }

    &.offset-by-featured-image {
        @include rem(top, $navbar-height);
        transition: $ease-in-transition;
        max-height: calc(100vh - #{$navbar-height} - #{$footer-height} - #{$extra-blog-menu-space-to-remove});
    }
}

.blog-menu-btn {
    position: fixed;
    @include rem(right, $navbar-right-alignment);
    @include rem(bottom, $navbar-right-alignment);
    @include rem(border, $lighter-black solid 2);
    z-index: $blog-menu-btn-z-index;

    &.footer-in-view {
        @include rem(bottom, $navbar-right-alignment + $footer-height);
    }
}

@media (max-width: $md-breakpoint - 1px) {
    .blog-menu {
        @include responsive-nav-menu();

        position: none;
        margin: 0;
        border: none;
        border-radius: 0;
        max-width: 100%;
        z-index: $blog-menu-sm-z-index;

        @include rem(padding-top, 20);
        
        &.open {
            @include responsive-nav-menu-open();
        }

        &.footer-in-view {
            max-height: calc(100vh - #{$navbar-height} - #{$footer-height});
        }

        h1 {
            @include rem(padding-top, 20);
        }
    }
}

@media (max-width: $footer-xs-breakpoint - 1px) {
    .blog-menu-btn.footer-in-view {
        @include rem(bottom, $navbar-right-alignment + $footer-xs-height);
    }

    .blog-menu-btn.footer-in-view {
        max-height: calc(100vh - #{$navbar-height} - #{$footer-xs-height});
    }
}