@import '../../../helpers/variables/colors';
@import '../../../helpers/variables/variables';
@import '../../../helpers/variables/text-size';
@import '../../../helpers/variables/z-index';

$center-position: 50%;
.skip-to-content {
    background: $black;
    font-size: $secondary-text-size;
    padding: $default-spacing;
    position: absolute;
    left: $center-position;
    transform: translate(-#{$center-position}, -999%);
    transition: transform 0.5s, color 0.5s ease-in-out;
    z-index: $skip-to-content-z-index;

    &, &:focus {
        color: $white;
    }

    &:focus {
        transform: translate(-#{$center-position}, 0%)
    }

    &:hover {
        color: $darker-white;
    }
}