@import '../../../helpers/variables/text-size';
@import '../../../helpers/variables/spacings';
@import '../../../helpers/variables/variables.module';

.image-top-card {
    * {
        text-align: left;
    }

    h2 {
        font-size: $medium-text-size;
    }
}

.content-padding {
    padding: $content-padding;
    
    &.inner-margin > *:not(:first-child) {
        margin-top: $default-spacing;
    }
}
