@import '../../../helpers/variables/variables';

.project-container {
    p, span, a {
        font-size: $secondary-text-size;
    }

    .language-tag {
        margin: 0;
        padding: 0;
        
        li {
            margin: $spacing-between-elements;
            display: inline-block;
            padding: 2rem 4rem;
            border-radius: $minor-border-radius;
            border: 1rem solid $darker-white;
            font-size: 12rem;
        }
    }

    .project-link-container > * {
        margin-right: $spacing-between-elements;
    }
}
