@import '../../../../helpers/variables/colors';
@import '../../../../helpers/variables/text-size';
@import '../../../../helpers/mixins/mixins';

.blog-card {
    @include card-upscale(all 0.5s ease-in-out);

    &.hide-card {
        &, * {
            opacity: 0;
            max-width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            display: none;
        }
    }

    .icons {
        color: $light-gray;
    }
}