@import "../../../helpers/variables/variables.module";
@import "../../../helpers/mixins/media-queries";
@import "../../../helpers/variables/text-size";
@import "../../../helpers/variables/spacings";

.about-me-container {
    .about-me-text {
        text-align: left;
        text-indent: 20rem;

        &:first-of-type {
            margin-bottom: $large-spacing;
        }
    }

    .about-me-image-container {
        $vertical-spacing-around-image: $default-spacing;
        $horizontal-spacing-around-image: $medium-spacing;

        &.right {
            float: right;
            margin-left: $horizontal-spacing-around-image;
            width: 330rem;
        }

        &.left {
            float: left;
            margin-right: $horizontal-spacing-around-image;
            width: 205rem;
        }

        .image {
            border-radius: $minor-border-radius;
        }

        @include sm-media-query() {
            &.right { width: 300rem; }

            &.left { width: 175rem; }
        }

        @include xs-media-query() {
            &.right, &.left {
                float: none;
                margin: 0 auto $vertical-spacing-around-image;
            }

            &.right { width: 275rem; }

            &.left { width: 200rem; }
        }
    }
}