@import '../../../../helpers/variables/_text-size';

.skill-section-title {
    font-size: $medium-text-size;
    font-weight: bold;
}

.skill-section-list {
    margin: 0;
    padding-left: 15rem;
    margin-bottom: 20rem;
    
    .item {
        list-style: none;
        padding: 5rem;
        font-size: 18rem;

        &::marker {
            content: "⁍";
        }
    }  
}