@import '../../../../helpers/variables/text-size';
@import '../../../../helpers/variables/variables.module';

.institution-name {
    display: inline;
    font-size: $medium-text-size;
    font-weight: bold;
    margin-top: $default-spacing;
}

.institution-description {
    margin-bottom: $minor-spacing;
    font-size: initial;

    &.default-margin-bottom {
        margin-bottom: $default-spacing;
    }
}

.spaced {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: baseline;

    > *:first-child {
        margin-right: $default-spacing;
    }
}

.accomplishment {
    ul {
        padding-left: 25rem;
        list-style-type: disc;
    }

    &, li {
        font-size: $secondary-text-size;
    }
}