@import '../variables/colors';

@mixin anchor-underline() {
    $background-vertical-position: 100%;
    text-decoration: none !important;

    &:not(.anchor) {
        background: linear-gradient(-45deg, $black, #8e0e00, $black);
        background-repeat: no-repeat;
        background-position: 0 $background-vertical-position;
        background-size: 300% 0.175em;
        animation: anchor-gradient 2.5s ease infinite;
        animation-play-state: paused;

        &:hover, &:focus {
            animation-play-state: running;
        }
    }
    
    @keyframes anchor-gradient {
        0% { background-position: 0 $background-vertical-position; }
        50% { background-position: 100% $background-vertical-position; }
        100% { background-position: 0 $background-vertical-position; }
    }
}