@import '../variables/custom-title';

@mixin custom-title($attribute-name) {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        display: inline-block;
        color: $white;
        z-index: $custom-title-z-index;
        top: 0;

        visibility: hidden;
        opacity: 0;
        transition: $custom-title-base-transition-in;
    }

    &:hover:before,
    &:hover:after {
        visibility: visible;
        opacity: 1;
        transition: $custom-title-base-transition-out;
    }

    &:before {
        content: attr($attribute-name);
        padding: 3rem 6rem;
        border-radius: $minor-border-radius;
        background: $black;
        font-size: 12rem;
        white-space: pre-wrap;
        left: 0;
        margin-top: 2.75em;
    }

    &:after {
        content: "";
        left: 8rem;
        margin-top: 1.25em;
        border: 8rem solid transparent;
        border-bottom: 8rem solid $black;
    }
}
