@import '../mixins/anchor-offset';
@import '../../helpers/variables/variables';
@import '../../helpers/mixins/media-queries';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin animation($property) {
    -webkit-animation: $property;
    animation: $property;
}

@mixin filter($property) {
    -webkit-filter: $property;
    filter: $property;
}

@mixin hide() {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: $hide-transition;
}

@mixin unhide() {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: $unhide-transition;
}

@mixin height-transition-initial() {
    transform: scaleY(0);
    transform-origin: top;
    visibility: hidden;
    transition: visibility 0s 0.5s, max-height 1s 0s, transform 0.5s 0s ease-in-out;
}

@mixin height-transition-open() {
    transform: scaleY(1);
    visibility: visible;
    transition: visibility 0s 0s, max-height 1s 0s, transform 0.5s 0s ease-in-out;
}

@mixin responsive-nav-menu() {
    width: 100vw;
    top: $navbar-height;
    left: 0;
    max-height: 0;
    @include height-transition-initial();
}

@mixin responsive-nav-menu-open() {
    max-height: calc(100vh - #{$navbar-height});
    @include height-transition-open();
}

@mixin label-text() {
    font-size: $secondary-text-size;
    margin-bottom: 4rem;
    font-weight: bold;
}

@mixin card-upscale($other-transitions: null) {
    -webkit-transform: translate3D(0, 0, 0);
    $other-transitions: if($other-transitions, $other-transitions + unquote(','), $other-transitions);
    transition: append($other-transitions, $card-upscale-transition);

    &:hover {
        @include transform($minor-scale);
    }
}