@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/mixins';

.category-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    @include rem(margin-bottom, $default-spacing);

    &:before {
        content: attr(title);
        display: flex;
        min-width: 100%;
        @include label-text();
    }

    li {
        @include rem(border-radius, $minor-border-radius);
        @include rem(border, $darker-white solid 1);
        @include rem(padding, 10 20);
        cursor: pointer;
        @include rem(font-size, $secondary-text-size);
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background: $white;
        }

        &.active {
            background: $darker-white;
        }
    }
}

@media (max-width: $md-breakpoint - 1px) {
    .category-dropdown {
        width: 100%;
    }
}