@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/rem-pixel-fallback';

.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    @include rem(margin-top, 5);

    li {
        @include rem(margin-top, 5);
        cursor: pointer;

        > span {
            @include rem(padding, $default-spacing 15);
            @include rem(border-radius, 20);
            @include rem(font-size, $secondary-text-size - 2);
            @include rem(margin-right, 5);

            .icon svg {
                @include rem(height, 18);
                @include rem(width, 18);
            }
        }
    }
}