@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/mixins';

.tag-dropdown {
    position: relative;

    .tag-dropdown-text {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        font-size: $medium-text-size;

        :before {
            margin-left: 5px;
        }
    }

    .tag-contents {
        position: absolute;
        right: 0;
        left: auto;
        text-align: left;
        z-index: 9000;
        background-color: white;
        padding: $default-spacing;
        min-width: 200px;
        @include height-transition-initial();

        li {
            position: relative;

            &:not(:last-child) {
                margin-bottom: $default-spacing;
            }

            &:first-child:before {
                top: -$default-spacing;
            }

            &:last-child:before {
                bottom: -$default-spacing;
            }

            &:before {
                content: ' ';
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: -$default-spacing;
                right: -$default-spacing;
                z-index: -1;
                transition: background-color 0.5s ease-in-out;
            }

            &[data-checked=true]:before {
                background: $darker-white;
            }

            &:hover:before {
                background: $white;
            }
        }

        label {
            font-weight: normal;
            font-size: $secondary-text-size;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0;

            > input, > span {
                margin-right: $default-spacing;
                height: 20px;
                width: 20px;
                min-width: 20px;
            }

            > input {
                display: none;
            }

            > span {
                border: 1px solid $darker-white;
                display: flex;
                position: relative;
                border-radius: $minor-border-radius;
            }

            > [type=checkbox]:checked + span:before {
                content: '\2714';
                position: absolute;
                color: $black;
                font-size: $medium-text-size;
                top: -4px;
            }
        }

        &.open {
            @include height-transition-open();
        }
    }
}

@media (max-width: $md-breakpoint - 1px) {
    .tag-dropdown {
        width: 100%;

        .tag-contents {
            left: 0;
            right: auto;
        }
    }
}