@import '../../../helpers/variables/variables';
@import '../../../helpers/mixins/mixins';

.tag-dropdown {
    position: relative;

    .tag-dropdown-text {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        @include rem(font-size, $medium-text-size);
    }

    .tag-contents {
        position: absolute;
        right: 0;
        left: auto;
        text-align: left;
        z-index: 9000;
        background-color: white;
        @include rem(padding, $default-spacing);
        @include rem(min-width, 200);
        @include height-transition-initial();

        li {
            position: relative;

            &:not(:last-child) {
                @include rem(margin-bottom, $default-spacing);
            }

            &:first-child:before {
                @include rem(top, -$default-spacing);
            }

            &:last-child:before {
                @include rem(bottom, -$default-spacing);
            }

            &:before {
                content: ' ';
                position: absolute;
                @include rem(top, -5);
                @include rem(bottom, -5);
                @include rem(left, -$default-spacing);
                @include rem(right, -$default-spacing);
                z-index: -1;
                transition: background-color 0.5s ease-in-out;
            }

            &[data-checked=true]:before {
                background: $darker-white;
            }

            &:hover:before {
                background: $white;
            }
        }

        label {
            font-weight: normal;
            @include rem(font-size, $secondary-text-size);
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0;

            > input, > span {
                @include rem(margin-right, $default-spacing);
                @include rem(height, 20);
                @include rem(width, 20);
                @include rem(min-width, 20);
            }

            > input {
                display: none;
            }

            > span {
                @include rem(border, 1 solid $darker-white);
                display: flex;
                position: relative;
                @include rem(border-radius, $minor-border-radius);
            }

            > [type=checkbox]:checked + span:before {
                content: '\2714';
                position: absolute;
                color: $black;
                @include rem(font-size, $medium-text-size);
                @include rem(top, -4);
            }
        }

        &.open {
            @include height-transition-open();
        }
    }
}

@media (max-width: $md-breakpoint - 1px) {
    .tag-dropdown {
        width: 100%;

        .tag-contents {
            left: 0;
            right: auto;
        }
    }
}