$white: #f2f2f2; //white color typically used for typography and borders
$darker-white: #D3D3D3; //Slightly darker than $white used for borders where appropriate
$black: #222; //Black color used for navbar, footer, and more
$darker-black: #111; //Slightly darker than $black
$lighter-black: #444; //Used for dark section borders
$light-gray: #808080;