$blog-menu-highlight-z-index: -1;
$blog-menu-z-index: 9;
$blog-post-content-z-index: 99;
$custom-title-z-index: 9000;
$blog-menu-btn-z-index: 9997;
$footer-z-index: 9998;
$navbar-z-index: 9998;
$navbar-sub-menu-z-index: $navbar-z-index + 1;
$skip-to-content-z-index: $navbar-sub-menu-z-index + 1;
$preloader-z-index: 11000;

$blog-featured-image-z-index: 10;
$blog-menu-sm-z-index: 100;