.category-dropdown, .tag-dropdown {
    margin-bottom: $default-spacing;
}

.category-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    &:before {
        content: attr(title);
        display: flex;
        min-width: 100%;
        @include label-text();
    }

    li {
        border-radius: $minor-border-radius;
        border: $darker-white solid 1px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: $secondary-text-size;
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background: $white;
        }

        &.active {
            background: $darker-white;
        }
    }
}

.blog-card {
    transition: all 0.5s ease-in-out;
    
    * {
        text-align: left;
    }

    h2 {
        font-size: $secondary-text-size + 4rem;
    }
    
    .content {
        padding: 20px;

        > *:not(:first-child) {
            margin-top: 10px;
        }
    }

    &.hide-card {
        opacity: 0;
        max-width: 0;
        height: 0;
        padding: 0;
        margin: 0;

        div {
            height: 0;
        }
    }

    .icons {
        color: #808080;
    }
}

.tag-dropdown-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 20rem;

    :before {
        margin-left: 5px;
    }
}

.tag-contents {
    position: absolute;
    right: 0;
    left: auto;
    text-align: left;
    z-index: 9000;
    background-color: white;
    padding: $default-spacing;
    min-width: 200px;
    @include height-transition-initial();

    label {
        font-weight: normal;
        font-size: $secondary-text-size;
        cursor: pointer;
        display: flex;
        align-items: center;

        > input, > span {
            margin-right: 10px;
            height: 20px;
            width: 20px;
            min-width: 20px;
        }

        > input {
            display: none;
        }

        > span {
            border: 1px solid $darker-white;
            display: flex;
            position: relative;
            border-radius: $minor-border-radius;
        }

        > [type=checkbox]:checked + span:before {
            content: '\2714';
            position: absolute;
            color: $black;
            font-size: 20rem;
            top: -4px;
        }
    }

    &.open {
        @include height-transition-open();
    }
}

.blog-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.tag-dropdown {
    position: relative;
}

@media (max-width: $md-breakpoint - 1px) {
    .tag-dropdown, .category-dropdown {
        width: 100%;
    }

    .tag-contents {
        left: 0;
        right: auto;
    }

    .blog-filters {
        flex-direction: column;
        justify-content: left;
    }
}

.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin-top: 5px;

    li {
        margin-top: 5px;
        cursor: pointer;

        > span {
            padding: $default-spacing 15px;
            border-radius: 20px;
            font-size: $secondary-text-size - 2rem;
            display: flex;
            align-items: center;
            margin-right: 5px;

            span {
                font-size: 20rem;
                margin-left: 5px;
            }
        }
    }
}