.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin-top: 5px;

    li {
        margin-top: 5px;
        cursor: pointer;

        > span {
            padding: $default-spacing 15px;
            border-radius: 20px;
            font-size: $secondary-text-size - 2rem;
            display: flex;
            align-items: center;
            margin-right: 5px;

            span {
                font-size: 20rem;
                margin-left: 5px;
            }
        }
    }
}