@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    font-size: 6.25%;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    // min-height: calc(100vh - #{$navbar-height});
    @include rem(min-height, calc(100vh - #{$navbar-height}));
    @include rem(padding-bottom, $body-bottom-padding);
    @include rem(margin-top, $navbar-height);
    font-size: 16em;
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-color: #bababa;
    border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
}

::-webkit-scrollbar {
    background-color: white;
    width: 8px;
    height: 8px;
}

main {
    flex: 1;
}

h1 {
    @include rem(font-size, 50);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;

    &[id] {
        @include scroll-to-correct-anchor-position();
    }
}

h2 {
    @include rem(font-size, 26);
    font-weight: bold;
}

p, span, div, a, li, button {
    @include rem(font-size, $medium-text-size);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn {
    background: $black;
    color: $white;
    @include rem(box-shadow, 2 2 5 #ccc);
    $btn-hover-transition: all .5s ease-in-out;
    transition: $btn-hover-transition;

    a, span {
        @include rem(font-size, $secondary-text-size);
        color: $white;
    }

    svg {
        fill: $white;
        transition: $btn-hover-transition;
    }

    &:hover {
        @include rem(border, 1 solid $black);
        background: $white;
        color: $black;
        -webkit-transform: translate3D(0, 0, 0);
        @include transform($minor-scale);

        a, span {
            color: $black;
        }

        svg {
            fill: $black;
        }
    }

    &:focus {
        color: $white;

        &:hover {
            color: $black;
        }
    }
}

button, div {
    text-align: center;
}

a {
    color: $black;

    &:hover {
        color: $black;
    }
}

.-border, .-curved-border {
    @include rem(border, 1 solid $white);
}

.-curved-border {
    @include rem(border-radius, 10);
    overflow: hidden;
}

.-layered-box-shadow {
    box-shadow: get-layered-box-shadow(0);
}

.-top-margin {
    @include rem(margin-top, 10);
}

.center-container {
    margin: 0 auto;
    @include rem(padding, 10);
}

.row {
    border: none;
}

.in-view-hide {
    opacity: 0;
}

.in-view-appear {
    opacity: 1;
    transition: width .75s ease-in-out, opacity 1.5s ease-in-out;
}

.hide {
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.container-top-image {
    max-width: 100%;
    width: 100%;
    @include rem(border-bottom, 2rem solid $darker-white);
}

.padding-container {
    @include rem(padding, 10);
}

.padding-container-all div {
    @include rem(padding, 10);
}

.upscale-container {
    -webkit-transform: translate3D(0, 0, 0);
    transition: transform .25s ease-in-out;

    &:hover {
        @include transform($minor-scale);
    }
}

.margin-container {
    @include rem(margin, 10 0);
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.minor-pulse {
    animation: $minor-pulse-animation;

    &:hover {
        animation-play-state: paused;
    }
}

.-small-text {
    @include rem(font-size, $tertiary-text-size);
    @include rem(padding, 5 0);
}

.-gray-text {
    color: $light-gray;
}

.-left-align {
    text-align: left;
}